# =========================
# Docker Compose
# =========================
COMPOSE_PROJECT_NAME=clarops-sr-engineer-challenge

# =========================
# PostgreSQL (Bitnami)
# =========================
PG_HOST_PORT=5433
PG_USERNAME=clarops_user
PG_PASSWORD=clarops_pass
PG_DATABASE=clarops_challenge
PG_ADMIN_PASSWORD=CHANGE_ME_ADMIN
